# Node / package managers
node_modules/


# Build output
dist/
.tmp/
tmp/
public/pagefind/

# Astro cache
.astro/

# Env files (never commit secrets)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
*.log

# OS cruft
.DS_Store
Thumbs.db

# IDE stuff
.idea/
.vscode/*
!.vscode/extensions.json

*.zip

# ignore npm lockfile
package-lock.json
